<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<base href="{{ site.baseurl }}">
	<title>{{ site.title }}</title>
	<meta name="description" content="{{ site.description }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<meta property="og:image" content="{{ site.imagehome }}">
	<link rel="icon" href="img/favicon/favicon.png" type="image/x-icon">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-114x114.png">
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="{{ site.themecolor }}">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="{{ site.themecolor }}">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="{{ site.themecolor }}">
	<style>body { opacity: 0; overflow-x: hidden; } html { background-color: #FFF; }</style>
	<link rel="stylesheet" type="text/css" href="css/main.min.css">

</head>

<body class="ishome">