<section class="section-survey">

	<h2><span>Опрос</span></h2>
	<div class="row">
		<h3>Посудой из какого материала вы пользуетесь?</h3>
	</div>
	<ul>
		<li>
			<input type="radio" id="1-option" name="selector" />
			<div class="check"></div>
			<label for="1-option"><span></span>Нержавеющая сталь</label>
		</li>
		<li>
			<input type="radio" id="2-option" name="selector" />
			<div class="check"><div class="inside"></div></div>
			<label for="2-option"><span></span>Бамбук</label>
		</li>
		<li>
			<input type="radio" id="3-option" name="selector" />
			<div class="check"><div class="inside"></div></div>
			<label for="3-option"><span></span>Дерево</label>
		</li>
		<li>
			<input type="radio" id="4-option" name="selector" />
			<div class="check"><div class="inside"></div></div>
			<label for="4-option"><span></span>Закаленное стекло</label>
		</li>
		
		<li>
			<input type="radio" id="5-option" name="selector" />
			<div class="check"><div class="inside"></div></div>
			<label for="5-option"><span></span>Другой материал</label>
		</li>
	</ul>
	<button>Голосовать</button>
</section>