<div class="row">

	<div class="col-12 item-restaurant-bg" style="background-image: url({{ post.thumb }})">

		<div class="item-restaurant">

			<div class="row">
				
					<div class="col-md-1 col-12">
						<img src="img\oatl-35.png" alt="" class="item-restaurant-imgname"> 
					</div>

					<div class="col-md-11 col-12">
						<a href="{{ post.url }}"><p class="item-restaurant-title">{{ post.title }}</p></a>
					</div>
				
			</div>

			<div class="row">

					<div class="col-md-6 col-12 item-restaurant-rating">

						<div class="row">

							<div class="col-6">

								<ul>
{% for hashtag in post.hashtags %}
<li>{{ hashtag }}</li>
{% endfor %}
								</ul>

							</div>

							<div class="col-6">

								<ul>
									<li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-alt"></i></li>
								</ul>

							</div>

						</div>

					</div>

					<div class="col-md-6 col-12 item-restaurant-descr">

						<div class="row">

							<div class="col-12">

								<p>
									{{ post.description }}
								</p>

							</div>

						</div>

					</div>

			</div>

		</div>

	</div>
	
</div>

<hr>