<div class="overlay">
	<div class="top-menu-container">
		<div class="container-fluid">
			<div class="row no-gutters top-menu-content">
				<div class="col-12">
					<div class="top-menu-content row no-gutters">
						<div class="left-menu col-xl-4 col-md-4 col-sm-12 col-12">
							<div class="row no-gutters l-r-menu">
								<div class="top-menu-item col-xl-4 col-md-12 col-sm-12 col-12">	<a href="blog/recipes/">рецепты</a></div>
								<div class="top-menu-item col-xl-4 col-md-12 col-sm-12 col-12">	<a href="blog/articles/">статьи</a></div>
								<div class="top-menu-item col-xl-4 col-md-12 col-sm-12 col-12">	<a href="blog/news/">новости</a></div>
							</div>
						</div>
						<div class="logo-menu col-xl-4 col-md-4 col-sm-12 col-12">	
							<img src="img\oatl.svg" alt="" style="width: 29px">
							<a class="main-a active" href="{{ site.baseurl }}"><p>{{ site.name }}</p></a>
							<img src="img\oatr.svg" alt="" style="width: 29px">
						</div>
						<div class="right-menu col-xl-4 col-md-4 col-sm-12 col-12">
							<div class="row no-gutters l-r-menu">
								<div class="top-menu-item col-xl-4 col-md-12 col-sm-12 col-12">	<a href="blog/restaurants/">рестораны</a></div>
								<div class="top-menu-item col-xl-4 col-md-12 col-sm-12 col-12">	<a href="blog/shop/">магазин</a></div>
								<div class="top-menu-item col-xl-4 col-md-12 col-sm-12 col-12">	<a href="about.html">о проекте</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row no-gutters">
				<div class="col-12">
					<nav class="soc soc-top col-md-12">
						<ul>
							{{ site.soc }}
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<h1 class="rage">{{ site.description }}</h1>
</div>