{% include /header-home.html %}

{% include /top-line-about.html %}

<article>

	<div class="container-fluid">
	
		<div class="row">

<!--------------------------------------------------------------->
<!--Здесь начинается левый широкий ряд -->
<!--------------------------------------------------------------->

			<div class="col-md-9 col-sm-8 col-12">

				<section class="about-FE cleaarfix">
						
					<div class="row">

						<div class="col-12 about-project">

							<img src="img\oatl.png" alt="">
							<h1>О проекте</h1>
							<img src="img\oatr.png" alt="">
						</div>
						<div class="col-12">
							<p>
								Проект был создан группой энтузиастов, состоявшей из троих человек. Изначально он планировался как хобби и не претендовал на нечто масштабное. Сегодня наши ряды пополняются, и наша изначально небольшая команда уже насчитывает более 50 резидентов. Здесь Вы найдете много полезной информации так или иначе связанной с едой.
							</p>

							<p>
								Ежедневно мы публикуем новые рецепты, пишем статьи на тему всего связанного со здоровым питанием. Мы не агитируем никого быть вегетарианцем, веганом или мясоедом. Мы - за свободу выбора! Наша команда имеет полную уверенность в том, что всему свое время, и далеко не каждому подойдет тот или иной рацион питания. Поэтому мы здесь!
							</p>

							<h1 class="resid">Наши резиденты</h1>

						</div>

					</div>

					<div class="row">
						<div class="col-md-4 recipe-author">

							<div class="recipe-author-photo" style="background-image: url(img/team/res-01.jpg)"></div>
							<a href="#" class="author-name"> <i>Наталья Иванова</i> </a> 
							<p>Салатный гуру</p>

						</div>

						<div class="col-md-4 recipe-author">

							<div class="recipe-author-photo" style="background-image: url(img/team/res-02.jpg)"></div>
							<a href="#" class="author-name"> <i>Зульфия Петрова</i> </a> 
							<p>Салатный гуру</p>

						</div>

						<div class="col-md-4 recipe-author">

							<div class="recipe-author-photo" style="background-image: url(img/team/res-03.jpg)"></div>
							<a href="#" class="author-name"> <i>Иван Пирожков</i> </a> 
							<p>Салатный гуру</p>

						</div>
					</div>

					<div class="row">

						<div class="col-12">
							<h1 class="resid">Присоединяйтесь!</h1>

							<p>
								Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Буквенных страна повстречался над по всей предупредила грустный, приставка за букв несколько коварный, своих океана себя! Первую переписывается составитель дороге взгляд? Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Буквенных страна повстречался над по всей предупредила грустный, приставка за букв несколько коварный, своих океана себя! Первую переписывается составитель дороге взгляд?
							</p>	

							<p>
								Пишите интересные статьи, предлагайте свежие новости, делитесь вкусными рецептами. Наша команда готова к пополнению и не ограничивается ничем. Возможно, у Вас есть интересные идеи как разнообразить наш проект. Заполните форму обратной связи ниже и добро пожаловать к нам. Будем рады знакомству! 
							</p>

						</div>
					</div>

					<form>

						<div class="row">

							<div class="col-md-6">

									<!-- Hidden Required Fields -->
									<input type="hidden" name="project_name" value="Site Name">
									<input type="hidden" name="admin_email" value="igor.zhurov.work@gmail.com">
									<input type="hidden" name="form_subject" value="Form Subject">
									<!-- END Hidden Required Fields -->
									<input class='name' type="text" name="Name" placeholder="*Имя..." required><br>
									<input type="text" name="E-mail" placeholder="*E-mail..." required><br>
									<input type="text" name="Phone" placeholder="Телефон..."><br>

							</div>

							<div class="col-md-6">

								<textarea placeholder="Введите ваше сообщение:"></textarea>

							</div>

							<div class="col-md-12">
								<button>Отправить</button>
							</div>

						</div>
						
					</form>

				</section>

			</div>
<!--------------------------------------------------------------->
<!--Здесь начинается правый узкий ряд -->
<!--------------------------------------------------------------->

			<div class="col-md-3 col-sm-4 col-12">

{% include /home-section-popular.html %}

{% include /home-section-app.html %}

{% include /home-section-vk.html %}

{% include /home-section-survey.html %}

{% include /home-section-products.html %}

			</div>

		</div>

	</div>

</article>

{% include /footer-home.html %}