{% include /header-home.html %}

{% include /top-line-home.html %}

<article>

	<div class="container-fluid">
	
		<div class="row">

<!--------------------------------------------------------------->
<!--Здесь начинается левый широкий ряд -->
<!--------------------------------------------------------------->

			<div class="col-md-9 col-sm-8 col-12">

{% include /home-section-recipes.html %}

{% include /home-section-restaurants.html %}

{% include /home-section-articles.html %}

{% include /home-section-news.html %}

			</div>
<!--------------------------------------------------------------->
<!--Здесь начинается правый узкий ряд -->
<!--------------------------------------------------------------->

			<div class="col-md-3 col-sm-4 col-12">

{% include /home-section-popular.html %}

{% include /home-section-app.html %}

{% include /home-section-vk.html %}

{% include /home-section-survey.html %}

{% include /home-section-products.html %}

			</div>

		</div>

	</div>

</article>

{% include /footer-home.html %}