{% include /header-item.html %}

{% include /top-line-articles.html %}

	<article>

		<div class="container-fluid">

			<div class="row">

<!--------------------------------------------------------------->
<!--Здесь начинается левый широкий ряд -->
<!--------------------------------------------------------------->

				<div class="col-md-9 col-sm-8 col-12">

					<section class="section-article-head cleaarfix">

					<h2><span>{{ page.title }}</span></h2>

						<div class="row">

							<div class="col-md-4 col-sm-12 article-author">

								<div class="article-author-photo" style="background-image: url({{ page.author-photo }})"></div>
								<a href="#" class="article-author-name"><i>{{ page.author-name }}</i> </a> 
								<p>{{ page.author-level }}</p>

							</div>

							<div class="col-md-8 col-sm-12 article-annotation">
								<p> {{ page.description }} </p>
							</div>

						</div>
						<hr>
					</section>

					<section class="section-article-body cleaarfix">

						{{ content }}

{% include /pluso.html %}

{% include /comments.html %}

					</section>

				</div>

<!--------------------------------------------------------------->
<!--Здесь начинается правый узкий ряд -->
<!--------------------------------------------------------------->

				<div class="col-md-3 col-sm-4 col-12">

{% include /home-section-popular.html %}

{% include /home-section-vk.html %}

{% include /home-section-products.html %}

				</div>

			</div>

		</div>

	</article>

	{% include /footer-home.html %}