{% include /header-item.html %}

{% include /top-line-recipes.html %}

	<article>

		<div class="container-fluid">

			<div class="row">

<!--------------------------------------------------------------->
<!--Здесь начинается левый широкий ряд -->
<!--------------------------------------------------------------->

				<div class="col-md-9 col-sm-8 col-12">

					<section class="section-recipe-head cleaarfix">

					<h2><span>{{ page.title }}</span></h2>

						<div class="row">

							<div class="col-md-4 col-sm-12 recipe-author">

								<div class="recipe-author-photo" style="background-image: url({{ page.author-photo }})"></div>
								<a href="#" class="recipe-author-name"><i>{{ page.author-name }}</i> </a>
								<p>{{ page.author-level }}</p>

							</div>

							<div class="col-md-4 col-sm-12 recipe-info">

								<div class="recipe-info-descr"><p>{{ page.description }}</p></div>

								<div class="recipe-info-tags">
									{% for hashtag in page.hashtags %}
										<a href="{{ site.baseurl }}">{{ hashtag }}</a>
									{% endfor %}
								</div>

								<div class="recipe-info-time">
									
									<p> <i class="fa fa-clock"></i> <i>{{ page.cooking-time }}</i> </p>
								</div>

							</div>

							<div class="col-md-4 col-sm-12 recipe-ingredients">

								<h3>Ингридиенты</h3>

								<ul>
									{% for howmany in page.howmany %}
										<li><i class="fa fa-fish"></i>  {{ howmany }};</li>
									{% endfor %}
								</ul>

							</div>

						</div>
					</section>

					<section class="section-recipe-body cleaarfix">

						<div class="recipe-howto">
					
							<h2><span>Способ приготовления</span></h2>
					
							<ul>
								{% for step in page.steps %}
									<li>{{ step }}</li>
								{% endfor %}
							</ul>
						
						</div>

						<div class="row">

							<div class="col-md-6 col-12 recipe-howto">

								<img src="{{ page.image-1 }}" alt="">

							</div>

							<div class="col-md-6 col-12 recipe-howto">

								<img src="{{ page.image-2 }}" alt="">

							</div>

							<figcaption>Фото <a href="#">{{ page.dish-photo-by }}</a></figcaption>
						
						</div>



						<div class="col-12 recipe-interest">

							<h3><i>Знаете ли Вы что...</i></h3>

							{{ content }}

						</div>

						<div class="recipe-video">

							<h2><span>Видео-рецепт</span></h2>

							<iframe src="{{ page.video-recipe-url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

						</div>


{% include /pluso.html %}

{% include /comments.html %}

					</section>

				</div>

<!--------------------------------------------------------------->
<!--Здесь начинается правый узкий ряд -->
<!--------------------------------------------------------------->

				<div class="col-md-3 col-sm-4 col-12">

{% include /home-section-popular.html %}

{% include /home-section-vk.html %}

{% include /home-section-products.html %}

				</div>

			</div>

		</div>

	</article>

{% include /footer-home.html %}