{% include /header-item.html %}

{% include /top-line-restaurants.html %}

	<article>

		<div class="container-fluid">

			<div class="row">

<!--------------------------------------------------------------->
<!--Здесь начинается левый широкий ряд -->
<!--------------------------------------------------------------->

				<div class="col-md-9 col-sm-8 col-12">

					<section class="section-restaurant-head cleaarfix">

						<div class="row">

							<div class="col-12 restaurant-title">
								<h3>{{ page.title }}</h3>
							</div>

						</div>

						<div class="row">

							<div class="col-12 restaurant-rating">

								<div class="row">

									<div class="col-md-2 col-6">
										<ul>
											<li>{{ page.hashtags[0] }}</li>
											<li>{{ page.hashtags[1] }}</li>
										</ul>
									</div>

									<div class="col-md-2 col-6">
										<ul>
											<li>{{ page.howmany[0] }}</li>
											<li>{{ page.howmany[1] }}</li>
										</ul>
									</div>

									<div class="col-md-2 col-6">
										<ul>
											<li>{{ page.hashtags[2] }}</li>
											<li>{{ page.hashtags[3] }}</li>
										</ul>
									</div>

									<div class="col-md-2 col-6">
										<ul>
											<li>{{ page.howmany[2] }}</li>
											<li>{{ page.howmany[3] }}</li>
										</ul>
									</div>

									<div class="col-md-2 col-6">
										<ul>
											<li>{{ page.hashtags[4] }}</li>
											<li>{{ page.hashtags[5] }}</li>
										</ul>
									</div>

									<div class="col-md-2 col-6">
										<ul>
											<li>{{ page.howmany[4] }}</li>
											<li>{{ page.howmany[5] }}</li>
										</ul>
									</div>

								</div>

							</div>

						</div>

					</section>

					<section class="section-restaurant-head cleaarfix">

						<div class="row">

							<div class="restaurant-inerier col-12 col-md-6">
						
								<h2><span>Интерьер</span></h2>
						
								<img src="{{ page.photo-interier }}" alt="Интерьер">
						
							</div>
						
							<div class="restaurant-inerier col-12 col-md-6">
						
								<h2><span>Бар</span></h2>
						
								<img src="{{ page.photo-bar }}" alt="Бар">
						
							</div>
						
							<div class="restaurant-inerier col-12 col-md-6">
						
								<h2><span>Кухня</span></h2>
							
								<img src="{{ page.photo-cuisine }}" alt="Кухня">
						
							</div>
						
							<div class="restaurant-inerier col-12 col-md-6">
						
								<h2><span>Шеф-повар</span></h2>
						
								<img src="{{ page.photo-chef }}" alt="Шеф-повар">
						
							</div>
						
						</div>

						<hr>

						<div class="restaurant-description">

							{{ content }}

						</div>

						<hr>

{% include /pluso.html %}

{% include /comments.html %}

					</section>

				</div>

<!--------------------------------------------------------------->
<!--Здесь начинается правый узкий ряд -->
<!--------------------------------------------------------------->

				<div class="col-md-3 col-sm-4 col-12">

{% include /home-section-popular.html %}

{% include /home-section-vk.html %}

{% include /home-section-products.html %}
		
				</div>
		
			</div>
		
		</div>
		
	</article>
		
	{% include /footer-home.html %}